.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  /* justify-content : 정렬 기능    -> 다만 이렇게 되면 정확히 가운데에 위치 하지 않는 경우 발생하여 아래와 같이 css hack 방식 존재 */
  padding: 5px 3px;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
  /* margin : 약간 옆으로 띄우는 기능 */
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
